<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - LODHATS</title>
    @*<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://use.fontawesome.com/c488ab7941.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary">
                <a class="navbar-brand" href="~/">LODHATS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/About.cshtml">About <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/charcreator.cshtml">Character Creator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/party.cshtml">Party</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/dice.cshtml">Dice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/WebPage3.cshtml">test</a>
                        </li>
                    </ul>
                    <div class="float-right">
                        @{
                            if (IsPost)
                            {
                                <text>
                                    <label id="welcomename">Welcome!</label>
                                </text>
                            }


                        }
                        <a href="~/Loginpage.cshtml" class="btn btn-danger" role="button">Login</a>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Web Page</p>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>



<script type="text/javascript">

    $(document).ready(function () {


    });


</script>